<div class="main-footer">
        <div class="footer-content">
            <div class="footer-section contact-us">
                <div class="logo">
      <img src="https://i.ibb.co/ydDdVmS/cropped-Untitled-1-1-png.webp" alt="Logo">

                  <!-- <img src="https://i.ibb.co/dtHhDQt/cropped-Untitled-1-1.webp" alt="Logo"> -->
                </div>
                <h3>Contact us</h3>
                <ul>
                    <li><i class="fas fa-phone"></i> +91-22-2402-2402</li>
                    <li><i class="fas fa-envelope"></i> info@pagalguy.com</li>
                </ul>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="footer-section top-mba-colleges">
                <h3>Top MBA Colleges</h3>
                <ul>
                    <li><a href="#">MBA in Delhi / NCR</a></li>
                    <li><a href="#">MBA in Mumbai</a></li>
                    <li><a href="#">MBA in Bangalore</a></li>
                    <li><a href="#">MBA in Ghaziabad</a></li>
                    <li><a href="#">MBA in Lucknow</a></li>
                    <li><a href="#">MBA in Jaipur</a></li>
                    <li><a href="#">MBA in Chennai</a></li>
                    <li><a href="#">MBA in Hyderabad</a></li>
                    <li><a href="#">MBA in Coimbatore</a></li>
                    <li><a href="#">MBA in Ahmedabad</a></li>
                    <li><a href="#">MBA in Pune</a></li>
                    <li><a href="#">MBA in Kolkata</a></li>
                    <li><a href="#">MBA in Bhubaneswar</a></li>
                    <li><a href="#">MBA in Patna</a></li>
                    <li><a href="#">MBA in Dehradun</a></li>
                </ul>
            </div>

            <div class="footer-section links">
                <h3>Top Colleges</h3>
                <ul>
                  <li><a href="#">Top MBA Colleges</a></li>
                  <li><a href="#">Top BBA Colleges</a></li>
                </ul>

                <h3>Discussion Board</h3>
                <ul>
                    <li><a href="#">MBA</a></li>
                    <li><a href="#">Engineering</a></li>
                    <li><a href="#">Medical</a></li>
                    <li><a href="#">Bank PO</a></li>
                    <li><a href="#">SSC</a></li>
                    <li><a href="#">UPSC</a></li>
                </ul>

            </div>
            <div class="footer-section top-exams">
                <h3>Top Exams</h3>
                <ul>
                    <li><a href="#">JEE Main 2023</a></li>
                    <li><a href="#">NEET 2023</a></li>
                    <li><a href="#">GATE 2023</a></li>
                    <li><a href="#">CAT 2022</a></li>
                    <li><a href="#">CMAT 2023</a></li>
                    <li><a href="#">XAT 2023</a></li>
                    <li><a href="#">MAT 2023</a></li>
                    <li><a href="#">SNAP 2022</a></li>
                    <li><a href="#">MHT-CET 2023</a></li>
                    <li><a href="#">BITSAT 2023</a></li>
                    <li><a href="#">GMAT</a></li>
                    <li><a href="#">GRE</a></li>
                </ul>
            </div>


        </div>
        <div class="copyright">
          Copyright © 2024 Inzane Labs Private Limited. All Rights Reserved
      </div>
</div>